# MongoDB Connection
MONGO_URI=mongodb://localhost:27017
MONGO_DATABASE=news_org
MONGO_COLLECTION=articles

# API Configuration
# local
API_HOST=localhost
API_PORT=8000
CORS_ORIGINS=http://localhost:3000,http://localhost:8000

# OpenAI API (for future AI features)
OPENAI_API_KEY=sk-proj-***